<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>packagename</key>
		<string>default</string>
		<key>emoticons</key>
		<array>
			<dict>
				<key>image</key>
				<string>wink</string>
				<key>desc</key>
				<string>wink</string>
			</dict>
			<dict>
				<key>image</key>
				<string>sleepy</string>
				<key>desc</key>
				<string>sleepy</string>
			</dict>
			<dict>
				<key>image</key>
				<string>smile</string>
				<key>desc</key>
				<string>smile</string>
			</dict>
			<dict>
				<key>image</key>
				<string>surprised</string>
				<key>desc</key>
				<string>surprised</string>
			</dict>
			<dict>
				<key>image</key>
				<string>thumbs_up</string>
				<key>desc</key>
				<string>thumbs_up</string>
			</dict>
			<dict>
				<key>image</key>
				<string>twisted</string>
				<key>desc</key>
				<string>twisted</string>
			</dict>
			<dict>
				<key>image</key>
				<string>angel</string>
				<key>desc</key>
				<string>angel</string>
			</dict>
			<dict>
				<key>image</key>
				<string>angry</string>
				<key>desc</key>
				<string>angry</string>
			</dict>
			<dict>
				<key>image</key>
				<string>cheeky</string>
				<key>desc</key>
				<string>cheeky</string>
			</dict>
			<dict>
				<key>image</key>
				<string>confused</string>
				<key>desc</key>
				<string>confused</string>
			</dict>
			<dict>
				<key>image</key>
				<string>cool</string>
				<key>desc</key>
				<string>cool</string>
			</dict>
			<dict>
				<key>image</key>
				<string>cry</string>
				<key>desc</key>
				<string>cry</string>
			</dict>
			<dict>
				<key>image</key>
				<string>drool</string>
				<key>desc</key>
				<string>drool</string>
			</dict>
			<dict>
				<key>image</key>
				<string>eek</string>
				<key>desc</key>
				<string>eek</string>
			</dict>
			<dict>
				<key>image</key>
				<string>embarrassed</string>
				<key>desc</key>
				<string>embarrassed</string>
			</dict>
			<dict>
				<key>image</key>
				<string>evil</string>
				<key>desc</key>
				<string>evil</string>
			</dict>
			<dict>
				<key>image</key>
				<string>exclaim</string>
				<key>desc</key>
				<string>exclaim</string>
			</dict>
			<dict>
				<key>image</key>
				<string>grin</string>
				<key>desc</key>
				<string>grin</string>
			</dict>
			<dict>
				<key>image</key>
				<string>idea</string>
				<key>desc</key>
				<string>idea</string>
			</dict>
			<dict>
				<key>image</key>
				<string>joy</string>
				<key>desc</key>
				<string>joy</string>
			</dict>
			<dict>
				<key>image</key>
				<string>laugh</string>
				<key>desc</key>
				<string>laugh</string>
			</dict>
			<dict>
				<key>image</key>
				<string>lips_sealed</string>
				<key>desc</key>
				<string>lips_sealed</string>
			</dict>
			<dict>
				<key>image</key>
				<string>love</string>
				<key>desc</key>
				<string>love</string>
			</dict>
			<dict>
				<key>image</key>
				<string>mad</string>
				<key>desc</key>
				<string>mad</string>
			</dict>
			<dict>
				<key>image</key>
				<string>mr_green</string>
				<key>desc</key>
				<string>mr_green</string>
			</dict>
			<dict>
				<key>image</key>
				<string>neutral</string>
				<key>desc</key>
				<string>neutral</string>
			</dict>
			<dict>
				<key>image</key>
				<string>old_school</string>
				<key>desc</key>
				<string>old_school</string>
			</dict>
			<dict>
				<key>image</key>
				<string>oops</string>
				<key>desc</key>
				<string>oops</string>
			</dict>
			<dict>
				<key>image</key>
				<string>ouch</string>
				<key>desc</key>
				<string>ouch</string>
			</dict>
			<dict>
				<key>image</key>
				<string>question</string>
				<key>desc</key>
				<string>question</string>
			</dict>
			<dict>
				<key>image</key>
				<string>roll_eyes</string>
				<key>desc</key>
				<string>roll_eyes</string>
			</dict>
			<dict>
				<key>image</key>
				<string>sad</string>
				<key>desc</key>
				<string>sad</string>
			</dict>
			<dict>
				<key>image</key>
				<string>sleepy</string>
				<key>desc</key>
				<string>sleepy</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
